<footer class="footer">
  <section class="container">
    © 2024 <a href="https://raphaelmilliere.com">Raphaël Millière</a><br><br><a href="https://blog.raphaelmilliere.com/posts/index.xml">RSS</a> | <a href="https://artificialcognition.substack.com/">Substack</a> | <a href="https://sigmoid.social/@raphaelmilliere">Mastodon</a> | <a href="https://twitter.com/raphaelmilliere">Twitter</a> | <a href="https://bsky.app/profile/raphaelmilliere.com">Bluesky</a> | <a href="https://www.threads.net/@raphaelmilliere">Threads</a>
  </section>
</footer>